<!-- Updated cards.html -->
<div class="blog-card" data-template="blog-card">
  <img src="assets/images/placeholder.jpg" alt="Blog Image" class="blog-image" loading="lazy" data-src="image" />
  <div class="blog-content">
    <span class="blog-date" data-content="date">DUMMY_DATE</span>
    <h3 class="blog-title" data-content="title">Dummy Blog Title</h3>
    <p class="blog-description" data-content="description">
      This is a sample description to visualize how a blog card will look before connecting the API.
    </p>
<!--    <a href="blog-details.html?id=DUMMY_ID" class="read-more" data-href="link">Read More →</a>-->
        <a href="#" class="read-more-btn">Read More</a>
  </div>
</div>


<!--<div class="blog-card" data-template="blog-card">-->
<!--  <img src="assets/images/placeholder.jpg" alt="Blog Image" class="blog-image" loading="lazy" />-->
<!--  <div class="blog-content">-->
<!--    <span class="blog-date">DUMMY_DATE</span>-->
<!--    <h3 class="blog-title">Dummy Blog Title</h3>-->
<!--    <p class="blog-description">-->
<!--      This is a sample description to visualize how a blog card will look before connecting the API.-->
<!--    </p>-->
<!--    <a href="#" class="read-more-btn">Read More</a>-->
<!--  </div>-->
<!--</div>-->